USE [master]
GO
/****** Object:  Database [DBTESTNET]    Script Date: 5/24/2021 10:39:13 PM ******/
CREATE DATABASE [DBTESTNET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Weather', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Weather.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Weather_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Weather_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTESTNET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTESTNET]
GO
/****** Object:  Table [dbo].[City]    Script Date: 5/24/2021 10:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[IdCity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[IdCountry] [int] NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityWeather]    Script Date: 5/24/2021 10:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityWeather](
	[IdCityWeather] [int] IDENTITY(1,1) NOT NULL,
	[IdCity] [int] NULL,
	[Temperature] [numeric](18, 2) NULL,
	[Description] [nvarchar](250) NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_CityWeather] PRIMARY KEY CLUSTERED 
(
	[IdCityWeather] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 5/24/2021 10:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[IdCountry] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[IdCountry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([IdCity], [Name], [IdCountry], [Description]) VALUES (1, N'Bogota DC', 1, N'Region Capital')
INSERT [dbo].[City] ([IdCity], [Name], [IdCountry], [Description]) VALUES (2, N'Medellin', 1, N'Region Oriental')
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[CityWeather] ON 

INSERT [dbo].[CityWeather] ([IdCityWeather], [IdCity], [Temperature], [Description], [DateCreated]) VALUES (1, 1, CAST(20.00 AS Numeric(18, 2)), N'Nublado', CAST(N'2021-05-23T00:00:00.000' AS DateTime))
INSERT [dbo].[CityWeather] ([IdCityWeather], [IdCity], [Temperature], [Description], [DateCreated]) VALUES (2, 1, CAST(19.00 AS Numeric(18, 2)), N'Nublado', CAST(N'2021-05-24T00:00:00.000' AS DateTime))
INSERT [dbo].[CityWeather] ([IdCityWeather], [IdCity], [Temperature], [Description], [DateCreated]) VALUES (3, 1, CAST(25.00 AS Numeric(18, 2)), N'Soleado', CAST(N'2021-05-25T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CityWeather] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([IdCountry], [Name], [Description]) VALUES (1, N'Colombia', N'Sur America')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[Country] ([IdCountry])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
ALTER TABLE [dbo].[CityWeather]  WITH CHECK ADD  CONSTRAINT [FK_CityWeather_City] FOREIGN KEY([IdCity])
REFERENCES [dbo].[City] ([IdCity])
GO
ALTER TABLE [dbo].[CityWeather] CHECK CONSTRAINT [FK_CityWeather_City]
GO
USE [master]
GO
